body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #6b8e23;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.hero {
  background: url('assets/images/hero.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 270px 20px;
}

.btn {
  background: #ffa500;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.btn.secondary {
  background: white;
  color: #ffa500;
  border: 1px solid #ffa500;
}

.stats {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 20px;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

label {
  display: block;
  margin: 15px 0;
}

footer {
  background:black;
  text-align: center;
  padding: 10px;
}

