{% extends 'admin_header.html' %}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User view</title>
</head>

<body>
    <div class="table-responsive">
        <h2 class="mb-4 text-center">All users</h2>
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Request_status</th>
                </tr>
            </thead>
            {% for all_req in all_reqs %}
            <tr>
                <td>{{all_req.donation_id.food_name}}</td>
                <td>{{all_req.donation_id.quantity}}</td>
                <td>{{all_req.request_status}}</td>
            </tr>
            {% endfor %}
        </table>
</body>

</html>
{% endblock %}