{% extends 'ngo_header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations view</title>
</head>

<body>
    <div class="table-responsive">
        <h2 class="mb-4 text-center">View Donations</h2>

        {% if messages %}
        <ul class="list-unstyled">
            {% for message in messages %}
            <li class="alert alert-warning">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead class="table-dark">
                <tr>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Request Food</th>
                </tr>
            </thead>

            {% for all_products in all_product %}
            <tr>
                <td>{{all_products.food_name}}</td>
                <td>{{all_products.quantity}}</td>
                <td><a class="btn btn-danger" href="{% url 'requested_food' all_products.id %}">request</a></button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>
{% endblock %}