{% extends 'user_header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div class="container mt-3">
        <div class="form-container border p-4 rounded shadow-sm bg-light">
            <h2 class="mb-4 text-center">User Edit</h2>
            <form method="POST">
                {% csrf_token %}
                {{ forms.as_p }}
                {{ logform.as_p }}
                <button type="submit" class="btn btn-success">Save Changes</button>
            </form>
        </div>
    </div>
</body>

</html>
{% endblock %}